<?xml version="1.0"?>

<!DOCTYPE module PUBLIC
	"-//Puppy Crawl//DTD Check Configuration 1.3//EN"
	"http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module name = "Checker">
	<property name="charset" value="UTF-8"/>
	<property name="severity" value="warning"/>

	<module name="SuppressionFilter">
		<property name="file" value="checkstyle/suppressions.xml"/>
	</module>

	<module name="SuppressWarningsFilter" />

	<!-- Because window$ is bullshit when it comes to newlines -->
	<!-- <module name="NewlineAtEndOfFile"/> -->

	<module name="TreeWalker">
		<module name="SuppressWarningsHolder" />
		<module name="ArrayTypeStyle">
			<property name="javaStyle" value="true"/>
		</module>
		<!-- <module name="VisibilityModifier">
			<property name="protectedAllowed" value="true"/>
			<property name="allowPublicImmutableFields" value="true"/>
		</module> -->
		<!-- Rules that are treated as errors -->
		<!-- http://stackoverflow.com/questions/28458846/how-to-require-tab-indentation-with-checkstyle -->
		<module name="RegexpSinglelineJava">
			<property name="format" value="^\t* "/>
			<property name="message" value="Indent must use tab characters"/>
			<property name="ignoreComments" value="true"/>
			<property name="severity" value="warning"/>
		</module>
		<module name="MissingOverride">
			<property name="severity" value="error"/>
		</module>
		<module name="PackageDeclaration">
			<property name="severity" value="error"/>
		</module>
		<module name="EmptyStatement">
			<property name="severity" value="warning"/>
		</module>
		<module name="RedundantImport">
			<property name="severity" value="error"/>
		</module>
		<module name="UnusedImports">
			<property name="severity" value="warning"/>
		</module>
		<module name="HiddenField" >
    			<property name="ignoreSetter" value="true" />
    			<property name="ignoreConstructorParameter" value="true" />
		</module>
		<module name="InnerAssignment">
			<property name="severity" value="warning"/>
		</module>
	</module>
</module>
